body {
    width: 1000px;
    margin: auto;
}

/*ENCABEZADO*/
header {
    background-image: url(../images/auto.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 200px;
}

#navHeader { 
    padding-top: 10px;
}

#navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: arial, sans-serif;
    font-size: small;
}

#navHeader a {
    color: white;
}

#navHeader a:hover {
    font-size: 150%;
    color: hotpink;
}

header h1 {
    color: white;
    font-family: arial, sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 4%;
    position: static;
}

/*SECTION*/
section h2 {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: larger;
}

section p {
    margin: auto;
    text-align: justify;
    width: 400px;
    font-family: arial, sans-serif;
    font-size: small;
    font-weight: bold;
}

/*IMG SECTION*/
#div-section {
    margin-top: 25px;
    width: 100%;
    height: 200px;
    text-align: center;
}

.img-contenedor {
    display: inline-block;
    width: 15%;
}

.img-section {
    width: 100px;
    margin: auto;
}

section h3 {
    margin-top: 0px;
    font-size: small;
    font-family: arial, sans-serif;
}

section span {
    font-size: small;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

/*FOOTER*/
footer {
    width: 100%;
    height: 170px;
    background-color: rgb(172, 170, 170);
    border-bottom-style: 20px black solid;
    margin-bottom: 10px;
    border-bottom: 5px solid rgb(24, 24, 24);
}

#primer-p {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: small;
    padding-top: 25px;
    padding-left: 10px;
    margin-bottom: 0px;
}

#segundo-p {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: small;
    padding-top: 0px;
    padding-left: 10px;
    margin-top: 0px;
}

footer img {
    padding-left: 10px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    display: flow-root;
}